{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
{{ product }}
{% endblock title %}


{% block content %}

<div class="container-fluid">
    <div class="row mx-4">
        <div class="col-md-4">
            <img src="
            {% if  product.image %}
                {{ product.image.url}}
            {% else %}
                {% static 'img/no-image.png' %}
            {% endif %}
                " alt="" class="img">
        </div>
        <div class="col-md-8">
            <h1 class="text-primary">
                <a href="{{ product.get_absolute_url}}">
                    {{ product.title }}
                </a>
            </h1>

            <p class="lead description">
                {{ product.description|linebreaks}}
            </p>

            <p class="h4 text-secondary">
                $ {{ product.price }}
            </p>

            <form action="{% url 'cart:add' product_slug=product.slug %}" method="POST" class="">
                <div class="row">
                    <div class="col-md-3">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>

        </div>
    </div>
</div>

{% endblock content %}
